
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*main{
    width: 99vw;
}*/

/*.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-family: 'Poppins', sans-serif;
    font-weight: var(--bs-nav-link-font-weight);
    color: #ffffff;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}*/
#focus{
    color: #EFA80F !important;
}
#li1:hover {
    color: #EFA80F !important;
}
#li2:hover {
    color: #EFA80F !important;
}
#li3:hover {
    color: #EFA80F !important;
}
#li4:hover {
    color: #EFA80F !important;
}
#li5:hover {
    color: #EFA80F !important;
}
#li6:hover {
    color: #EFA80F !important;
}

#topic1{
    text-align: center;
    height: 22vh;
    width: 98.9vw;
    position: absolute;
    margin: auto;
    top: 13vh;
    left: 0;
    right: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 6em;
    color: white;


}
#subTopic1{
    height: 20vh;
    width: 98.9vw;
    position: absolute;
    margin: auto;
    top: 30vh;
    left: 0;
    right: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 4em;
    color: white;
}

#r1{
    background-color: #efa80f38;
    height: 20vh;
    width: 98.9vw;
    position: absolute;
    margin: auto;
    top: 74vh;
    left: 0;
    right: 0;

}
#r1c1 #r1c2 {
    border-right: 2px solid black;
}
.mainTopic1{
    font-family: 'Poppins', sans-serif;
    font-size: 4em;
    color: white;
}
.mainTopic2{
    font-family: 'Poppins', sans-serif;
    color: white;

}

#topic2\.1{
    border-bottom: 2px solid;
    text-align: left;
    width: 36vw;
    position: absolute;
    margin: auto;
    top: 9vh;
    left: 0;
    right: 51vw;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    color: black;
    padding-bottom: 10px;
    padding-left: 20px;
}
#topic2\.2{
    text-align: left;
    width: 36vw;
    position: absolute;
    margin: auto;
    top: 9vh;
    left: 6.5vw;
    right: 51vw;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    color: #EFA80F;
    padding-bottom: 10px;
    padding-left: 20px;
}


#topic3\.1{
    border-bottom: 2px solid;
    text-align: left;
    width: 36vw;
    position: absolute;
    margin: auto;
    top: 195vh;
    left: 183px;
    right: 51vw;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    color: black;
    padding-bottom: 10px;
    padding-left: 20px;
}
#topic3\.2{
    text-align: left;
    width: 36vw;
    position: absolute;
    margin: auto;
    top: 195vh;
    left: 18.5vw;
    right: 51vw;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    color: #EFA80F;
    padding-bottom: 10px;
    padding-left: 20px;
}
.carType{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    color: #000000;
    padding-bottom: 10px;
}

#topic4\.1{
    border-bottom: 2px solid;
    text-align: left;
    width: 36vw;
    position: absolute;
    margin: auto;
    top: 360vh;
    left: 183px;
    right: 51vw;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    color: black;
    padding-bottom: 10px;
    padding-left: 20px;
}
#topic4\.2{
    text-align: left;
    width: 36vw;
    position: absolute;
    margin: auto;
    top: 360vh;
    left: 18.5vw;
    right: 51vw;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    color: #EFA80F;
    padding-bottom: 10px;
    padding-left: 20px;
}
#topic5\.1{
    text-align: center;
    width: 75vw;
    position: absolute;
    margin: auto;
    top: 448vh;
    left: 183px;
    right: 51vw;
    font-family: 'Poppins', sans-serif;
    font-size: 4em;
    color: black;
    padding-bottom: 10px;
}
#topic5\.2{
    text-align: center;
    width: 19vw;
    position: relative;
    margin: auto;
    top: 103px;
    left: 0;
    right: 51vw;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    color: #6c757d;
    padding-bottom: 10px;
    background-color: #cbced1;
}
#topic5\.3{
    text-align: center;
    width: 19vw;
    position: relative;
    margin: auto;
    top: 121px;
    left: 0;
    right: 51vw;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: #000000;
    padding-bottom: 10px;
    background-color: #cbced1;
}
#topic5\.4{
    text-align: center;
    width: 80vw;
    position: relative;
    margin: auto;
    top: 119px;
    left: 0;
    right: 51vw;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: #000000;
    padding-bottom: 10px;
    background-color: #cbced1;
}


/*#s1{
    height: 94vh;
    position: absolute;
    top: 6vh
}
#img1{
    position: absolute;
    width: 100vw;
    height: 94vh;
    overflow: hidden;
}
#carouselExampleSlidesOnly #img_s1 #img_s2 #img_s3 #s1_d1{
    height: 90vh;
}
.carousel-inner{
    position: relative;
    width: 100vw;
    height: 93vh;
    overflow: hidden;
}
#h1{
    color: #ffffff;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 1.8em;

}*/
#signInForm{
    width: 80vw;
    height: 35vh;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(2,1fr);
    gap: 0;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
}

.textBox{
    width: 30vw;
    height: 5.5vh;
    position: relative;
    background-color: white;
    border: 1px solid #EFA80F;
    top: 15px;
    /* bottom: 0; */
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 25px;
}
.tag1{
    position: relative;
    top: 2vh;
    left: 6vw;
    font-family: 'Poppins', sans-serif;
    color: #828c95;
}

#username :focus{
    box-shadow: -2px -2px 12px 5px #efbe65, 2px 2px 12px 5px #efbe65 !important;
}
#btnSignIn{
    width: 16vw;
    height: 5vh;
    position: relative;
    top: 2vh;
    left: 12vw;
    right: 0;
    background-color: #EFA80F;
    font-family: 'Poppins', sans-serif;
    border-radius: 25px;
    border-color: transparent;
    color: #fefefe;
}
.form-group :focus{
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #efa80f52 !important;

    /*border-radius: 10px;
    box-shadow: -2px -2px 3px 2px rgba(255, 185, 109, 0.84), 2px 2px 3px 2px rgba(255, 185, 109, 0.84) !important;*/
}
.form-control{
    top: 15px;
}

#signUp1{
    width: 64vw;
    height: 10vh;
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(2,1fr);
    gap: 0;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
}
#signUp2{
    width: 64vw;
    height: 10vh;
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(2,1fr);
    gap: 0;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
}
#signUp3{
    width: 64vw;
    height: 10vh;
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(2,1fr);
    gap: 0;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
}
#signUp4{
    width: 64vw;
    height: 10vh;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
}
#signUp5{
    width: 64vw;
    height: 10vh;
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(2,1fr);
    gap: 0;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
}
#signUp6{
    width: 64vw;
    height: 10vh;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
}
#signUp7{
    width: 64vw;
    height: 10vh;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
}
#btnSignUp{
    width: 16vw;
    height: 5vh;
    position: relative;
    top: 4vh;
    left: 24vw;
    right: 0;
    background-color: #EFA80F;
    font-family: 'Poppins', sans-serif;
    border-radius: 25px;
    border-color: transparent;
    color: #fefefe;
}
#driverForm{
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(2,1fr);
    gap: 2px;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    top: 7vh;
    background-color: rgba(255, 255, 255, 0);
}
#btnSave , #btnUpdate, #btnDelete{
    width: 8vw;
    height: 4vh;
    position: relative;
    top: 6vh;
    left: 1.3vw;
    right: 0;
    margin: auto;
    background-color: #EFA80F;
    font-family: 'Poppins', sans-serif;
    border-radius: 25px;
    border-color: transparent;
    color: #fefefe;
}
#btnAdminSignOut{
    width: 8vw;
    height: 4vh;
    position: relative;
    top: -5.4vh;
    left: 83.3vw;
    right: 0;
    margin: auto;
    background-color: #EFA80F;
    font-family: 'Poppins', sans-serif;
    border-radius: 25px;
    border-color: transparent;
    color: #fefefe;
}

