
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*main{
    width: 99vw;
}*/

/*.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-family: 'Poppins', sans-serif;
    font-weight: var(--bs-nav-link-font-weight);
    color: #ffffff;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}*/
#focus{
    color: #EFA80F !important;
}
#li1:hover {
    color: #EFA80F !important;
}
#li2:hover {
    color: #EFA80F !important;
}
#li3:hover {
    color: #EFA80F !important;
}
#li4:hover {
    color: #EFA80F !important;
}

#topic1{
    text-align: center;
    height: 22vh;
    width: 98.9vw;
    position: absolute;
    margin: auto;
    top: 13vh;
    left: 0;
    right: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 6em;
    color: white;


}
#subTopic1{
    height: 20vh;
    width: 98.9vw;
    position: absolute;
    margin: auto;
    top: 30vh;
    left: 0;
    right: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 4em;
    color: white;
}

#r1{
    background-color: #efa80f38;
    height: 20vh;
    width: 98.9vw;
    position: absolute;
    margin: auto;
    top: 74vh;
    left: 0;
    right: 0;

}
#r1c1 #r1c2 {
    border-right: 2px solid black;
}
.mainTopic1{
    font-family: 'Poppins', sans-serif;
    font-size: 4em;
    color: white;
}
.mainTopic2{
    font-family: 'Poppins', sans-serif;
    color: white;

}

#topic2\.1{
    border-bottom: 2px solid;
    text-align: left;
    width: 36vw;
    position: absolute;
    margin: auto;
    top: 9vh;
    left: 0;
    right: 51vw;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    color: black;
    padding-bottom: 10px;
    padding-left: 20px;
}
#topic2\.2{
    text-align: left;
    width: 36vw;
    position: absolute;
    margin: auto;
    top: 9vh;
    left: 6.5vw;
    right: 51vw;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    color: #EFA80F;
    padding-bottom: 10px;
    padding-left: 20px;
}


#topic3\.1{
    border-bottom: 2px solid;
    text-align: left;
    width: 36vw;
    position: absolute;
    margin: auto;
    top: 195vh;
    left: 183px;
    right: 51vw;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    color: black;
    padding-bottom: 10px;
    padding-left: 20px;
}
#topic3\.2{
    text-align: left;
    width: 36vw;
    position: absolute;
    margin: auto;
    top: 195vh;
    left: 18.5vw;
    right: 51vw;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    color: #EFA80F;
    padding-bottom: 10px;
    padding-left: 20px;
}


/*#s1{
    height: 94vh;
    position: absolute;
    top: 6vh
}
#img1{
    position: absolute;
    width: 100vw;
    height: 94vh;
    overflow: hidden;
}
#carouselExampleSlidesOnly #img_s1 #img_s2 #img_s3 #s1_d1{
    height: 90vh;
}
.carousel-inner{
    position: relative;
    width: 100vw;
    height: 93vh;
    overflow: hidden;
}
#h1{
    color: #ffffff;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 1.8em;

}*/


